<!--<app-guage reading="{{COOLANT_IN_ROUNDED}}" label="COOLANT IN"></app-guage>-->

<table width="100%" align="center">

  <!-- Guage Cluster Row -->
  <tr>
    <th>
      <app-guage reading={{COOLANT_IN_ROUNDED}} label="COOLANT IN"></app-guage>
      </th>

    <th>
      <app-guage reading={{COOLANT_OUT_ROUNDED}} label="COOLANT OUT"></app-guage>
      </th>

    <th>
      <app-guage reading="{{COOLANT_FLOW_ROUNDED}}" label="COOLANT FLOW"></app-guage>
    </th>
  </tr>
</table>

<table width="100%">
  <tr>
    <app-jog-controls></app-jog-controls>
  </tr>
</table>
  


